@import url('panchang.css');
/* Global Styles */

body {
    font-family: 'Cormorant', serif;
    font-size: clamp(var(--min-text-font-size), var(--preferred-text-font-size), var(--max-text-font-size));
    color: var(--primary_color);
    background-color: var(--primary_text_color);
    padding-inline: var(--padding_medium);
    margin: 0 auto;
}

h1 {
    font-family: 'Panchang-Extrabold', sans-serif;
    font-size: 3.6rem;
    text-transform: uppercase;
    line-height: 1;
    color: var(--primary_color);
    /* margin: var(--margin_small) 0; */
}

li {
    font-size: clamp(var(--min-extra-small-font-size), var(--preferred-extra-small-font-size), var(--max-extra-small-font-size));
}

li a {
    font-size: clamp(var(--min-heading-font-size), var(--preferred-heading-font-size), var(--max-heading-font-size));
    text-transform: capitalize;
}

#mobileMenu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.5s, transform 0.5s;
}

#mobileMenu ul {
    list-style: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#mobileMenu ul li {
    padding: 10px;
    color: var(--secondary_color);
}

#mobileMenu.open {
    opacity: 1;
    transform: scale(1);
}

#openMenu,
#closeMenu {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 2px;
    right: 1px;
    background: var(--secondary_color);
    border-radius: 50%;
}

.contact {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 1rem;
    font-weight: 300;
}

button a {
    font-size: clamp(var(--min-heading-font-size), var(--preferred-heading-font-size), var(--max-heading-font-size));
    text-transform: capitalize;
    padding: .5rem 1rem;
    background-color: var(--secondary_color);
    color: var(--primary_text_color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.app {
    position: relative;
    width: 100%;
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.section_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
}

.section_sticky {
    position: sticky;
    z-index: 10;
    top: 2rem;
    height: 100%;
}

.section_panel_box {
    overflow: auto;
    background-color: var(--primary_text_color);
    z-index: 1;
}

.section_sticky_item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pitch {
    margin: 50px 0;
}

.pitch h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    line-height: 1;
}

.pitch li {
    list-style: point;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 40px;
}


@media screen and (min-width: 1024px) {

    h1 {
        font-size: 14rem;
    }

    button a {
        padding: 1rem 2rem;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 1rem;
        width: 70vw;
    }

    .container {
        position: relative;
        width: 100%;
    }

    .section_wrapper {
        position: relative;
        flex-wrap: nowrap;
        align-items: flex-start;
        width: inherit;
        height: inherit;
        gap: none;
        padding: 2rem;
    }

    .section_panel_box {
        /* height: 25rem; */
        overflow: hidden;
        background-color: var(--primary_text_color);
    }

    .section_panel_box:nth-child(14n+9),
    .section_panel_box:nth-child(14n+4) {
        grid-column: 1/2;
    }

    .section_panel_box:nth-child(14n+6),
    .section_panel_box:nth-child(14n+12) {
        grid-column: 3/4;
    }

    .section_panel_box:nth-child(14n+5),
    .section_panel_box:nth-child(14n+11) {
        grid-column: 5/6;
    }

    .section_panel_box:nth-child(14n+5),
    .section_panel_box:nth-child(14n+13) {
        grid-column: 7/8;
    }

    .section_panel_box img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .section_sticky {
        position: sticky;
        top: 2rem;
        width: 30vw;
        margin-right: 2rem;
    }

    .section_sticky_item {
        position: relative;
        width: 100%;
        /* height: 80rem; */
        overflow: hidden;
    }

    .section_sticky_item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

}
