@import url('panchang.css');

body {
    font-family: 'Cormorant', serif;
    font-size: var(--preferred-text-font-size);
    color: var(--primary_color);
    background-color: var(--primary_text_color);
    padding-inline: var(--padding_medium);
    margin: 0 auto;
}

h1 {
    font-family: 'Panchang-Extrabold', sans-serif;
    font-size: 5.5rem;
    text-transform: uppercase;
    line-height: 1;
    color: var(--primary_color);
    /* margin: var(--margin_small) 0; */
}

li a {
    font-size: 4rem;
    text-transform: capitalize;
}

#mobileMenu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.5s, transform 0.5s;
}

#mobileMenu ul {
    list-style: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#mobileMenu ul li {
    padding: 10px;
    color: var(--secondary_color);
}

#mobileMenu.open {
    opacity: 1;
    transform: scale(1);
}

#openMenu,
#closeMenu {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 2px;
    right: 1px;
    background: var(--secondary_color);
    border-radius: 50%;
}

.contact {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 1rem;

    font-size: 2em;
    font-weight: 300;
}


p {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    width: 100%;
    height: 100%;
}

.row {
    width: 100%;
    display: flex;
}

.col {
    height: 100%;
}

.img-container {
    width: fit-content;
    height: 100%;
}

.img-container.left {
    text-align: right;
}

.img-container p {
    position: relative;
    padding: 5px 0;
    color: var(--color-text);
    opacity: 1;
    transition: opacity 0.3s, transform 0.3s;
}

#row-1 {
    height: 200px;
}

#row-2 {
    height: 500px;
}

#row-3 {
    height: 150px;
}

#row-4 {
    height: 400px;
}

#row-5 {
    height: 700px;
}

#row-6 {
    height: 300px;
}

#row-7 {
    height: 200px;
}

#row-8 {
    height: 600px;
}

#row-9 {
    height: 300px;
}

#row-10 {
    height: 500px;
}

.col:nth-child(1) {
    flex: 3;
    display: flex;
    justify-content: flex-end;
}

.col:nth-child(2) {
    flex: 5;
}

.img-container.right img {
    clip-path: polygon(100% 0, 100% 0, 100% 0, 100% 0);
}

.img-container.left img {
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
}

.whitespace {
    width: 100%;
    height: 300px;
}

@media screen and (min-width: 1024px) {

    h1 {
        font-size: 12rem;
    }

    .contact {
        font-size: 1em;
    }

    .contact li {
        font-size: 1em;
    }

}
