
 body {
     font-size: 1em;
     color: var(--primary_text_color);
     background-color: var(--primary_color);
     font-family: 'Manrope', sans-serif;
 }

 main {
     overflow-x: hidden;
 }

 ::-webkit-scrollbar {
     display: none;
 }

 section {
     margin: 100px auto;
     padding-inline: var(--padding_medium);
 }

 h2 {
     font-size: clamp(var(--min-giga-font-size), var(--preferred-giga-font-size), var(--max-giga-font-size));
     font-weight: 400;
     font-family: 'cormorant', serif;
 }

 h3 {
     font-size: clamp(var(--min-heading-font-size), var(--preferred-heading-font-size), var(--max-heading-font-size));
     font-weight: 400;
     font-family: 'cormorant', serif;
 }

 p {
     font-size: clamp(var(--min-text-font-size), var(--preferred-text-font-size), var(--max-text-font-size));
     font-family: Manrope;
     font-style: normal;
     font-weight: 400;
     line-height: 1.5;
     margin-bottom: var(--margin_medium);
 }


 /* Menu */
 #main_nav {
     display: flex;
     justify-content: end;
     align-items: center;
     padding: var(--padding_medium);
     position: fixed;
     z-index: 100;
     width: 100vw;
 }

 /* hero section */

 #intro {
     position: relative;
     padding-inline: 0;
     margin: 0;
 }

 .intro_image_wrapper img {
     width: 100vw;
     height: 100vh;
     object-fit: cover;
 }

 .intro_text_wrapper {
     position: absolute;
     top: 25%;
     left: 38%;
     transform: translate(-50%, -50%);
 }

 .intro_text_wrapper h1 {
     font-size: clamp(var(--min-large-font-size), var(--preferred-large-font-size), var(--max-large-font-size));
     font-family: 'cormorant', serif;
     line-height: 1.2;
     text-transform: capitalize;
 }

 .intro_skills_2_col_grid {
     display: grid;
     grid-template-columns: 1fr 1fr;
     gap: var(--gap_large);
     align-items: center;
     padding: var(--padding_medium);
     position: absolute;
     bottom: 10%;
     left: 25%;
     z-index: 10;
 }

 .about_text_wrapper {
     display: flex;
     flex-direction: column;
     justify-content: center;
     gap: var(--gap_medium);
 }

 .about_text_wrapper h4 {
     font-size: clamp(var(--min-extra-giga-font-size), var(--preferred-extra-giga-font-size), var(--max-extra-giga-font-size));
     text-align: center;
     letter-spacing: 0.18rem;
     margin-top: var(--margin_small);
 }

 /* Accordion */

 .accordion {
     margin: 20px auto;
 }

 .accordion_item {
     display: flex;
     flex-direction: column;
     align-items: stretch;
 }

 .accordion_item .accordion_content {
     display: none;
 }

 .accordion_item.show .accordion_content {
     display: block;
 }

 .accordion_title {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: var(--padding_small) 0;
     text-align: left;
     font-size: clamp(var(--min-heading-font-size), var(--preferred-heading-font-size), var(--max-heading-font-size));
     font-weight: 600;
     border-bottom: 1px solid var(--secondary_text_color);
     margin: 0;
 }

 .accordion_text {
     padding: var(--padding_small) 0;
     font-size: .875rem;
     text-transform: uppercase;
 }

 .accordion_content {
     padding: 15px;
     display: none;
 }

 .accordion_img {
     max-width: 100%;
     height: auto;
     margin-top: 15px;
 }

 /* slider */

 #resume {
     margin: var(--margin_xlarge) auto;
 }

 .slider {
     position: relative;
     overflow: hidden;
 }

 .slides {
     display: flex;
     scroll-snap-type: x mandatory;
     overflow-x: scroll;
 }

 .slides::-webkit-scrollbar {
     display: none;
 }

 .slide {
     flex: 1 0 auto;
     width: 100%;
     scroll-snap-align: start;
     padding: var(--padding_medium);
     margin-bottom: var(--margin_xlarge);
 }

 .slide h3 {
     font-size: clamp(var(--min-heading-font-size), var(--preferred-heading-font-size), var(--max-heading-font-size));
     font-family: 'Manrope', sans-serif;
     margin-bottom: var(--margin_medium);
 }

 .slide h4 {
     font-size: clamp(var(--min-text-font-size), var(--preferred-text-font-size), var(--max-text-font-size));
     font-weight: 600;
     text-transform: uppercase;
     font-family: 'Manrope', sans-serif;
     margin-bottom: var(--margin_small);
 }

 .slide li {
     font-size: clamp(var(--min-text-font-size), var(--preferred-text-font-size), var(--max-text-font-size));
     font-weight: 300;
     margin-bottom: var(--margin_medium);
 }

 .circles {
     position: absolute;
     bottom: 10px;
     left: 50%;
     transform: translateX(-50%);
     display: flex;
     gap: 10px;
 }

 .circle {
     width: 20px;
     height: 20px;
     border-radius: 50%;
     background: var(--accent_color_inactive);
 }

 .circle.active {
     transition: opacity 0.5s ease-in-out;
     opacity: 1;
     background: var(--accent_color_active);
 }

 /* footer */

 footer {
     margin: var(--margin_xlarge) var(--margin_medium);
 }

 .outro_text,
 .cta_text {
     font-size: clamp(var(--min-text-font-size), var(--preferred-text-font-size), var(--max-text-font-size));
     font-weight: 300;
 }

 .cta {
     font-size: clamp(var(--min-text-font-size), var(--preferred-text-font-size), var(--max-text-font-size));
     font-weight: 400;
     margin-bottom: var(--margin_large);
     border-bottom: #F9F7B2 1px solid;
 }

 .footer_links ul {
     display: flex;
     flex-direction: column;
     justify-content: center;
     gap: var(--gap_large);
     margin-bottom: var(--margin_xlarge);
 }

 .footer_links ul li {
     font-size: clamp(var(--min-text-font-size), var(--preferred-text-font-size), var(--max-text-font-size));
     padding: var(--padding_medium) 0;
     border-bottom: #F9F7B2 1px solid;
 }

 #contact div {
     text-align: center;
     font-size: clamp(var(--min-extra-small-font-size), var(--preferred-extra-small-font-size), var(--max-extra-small-font-size));
     margin-top: var(--margin_xlarge);
 }

 /* Scroll animation */
 .fade_in_right,
 .fade_in_left,
 .fade_in,
 .slide_up,
 .fade_up {
     opacity: 0;
     transition: opacity 1.5s ease-in-out, transform 1.5s ease-in-out;
 }

 .fade_in_right {
     transform: translateX(100px);
 }

 .fade_in_left {
     transform: translateX(-100px);
 }

 .fade_in {
     transform: translateY(100px);
 }

 .fade_up {
     transform: translateY(100px);
 }

 .reveal {
     opacity: 1;
     transform: translateX(0);
 }


 /* media queries */


 @media screen and (min-width: 1024px) {

     main {
         max-width: 100rem;
         margin-inline: auto;
         padding-inline: var(--padding_xlarge);
     }

     section {
         padding: 150px 0;
     }

     .hover_btn {
         position: relative;
         text-decoration: none;
     }

     .hover_btn::after {
         content: '';
         position: absolute;
         width: 0;
         height: 2px;
         bottom: 0;
         left: 0;
         background: var(--secondary_text_color);
         transition: width .3s;
     }

     .hover_btn:hover::after {
         width: 100%;
     }

     a.cta:hover {
         border-bottom: none;
     }

     /* intro */

     #intro {
        height: 100vh;
     }

     .intro_text_wrapper {
         width: 40rem;
         top: 22%;
         left: 25%;
     }

     .intro_text_wrapper h1 {
         font-size: 6rem;
     }

     .intro_skills_2_col_grid {
         left: 65%;
         right: 0;
     }

     #about {
         display: flex;
         gap: var(--gap_xlarge);
         margin: var(--margin_xlarge) auto;
     }

     .about_text_wrapper {
         width: 40rem;
     }

     .about_text_wrapper h4 {
         font-size: 8rem;
     }

     .intro_image_wrapper {
         width: 50%;
     }

     .accordion_item {
         flex-direction: row;
         align-items: flex-start;
         gap: var(--gap_large);
     }

     .accordion_content {
         width: 70%;
     }

     .accordion_title {
         cursor: pointer;
         width: 15em;
     }

     .accordion_img {
         margin-top: 0;
         margin-left: 15px;
     }

     .slider {
         width: 70%;
         margin: 0 auto;
     }

     .slide {
         width: 100%;
     }

     .slide h3 {
         font-size: clamp(var(--min-kilo-font-size), var(--preferred-kilo-font-size), var(--max-kilo-font-size));
     }

     .slide h4 {
         font-size: clamp(var(--min-text-font-size), var(--preferred-text-font-size), var(--max-text-font-size));
     }

     .slide li {
         font-size: clamp(var(--min-text-font-size), var(--preferred-text-font-size), var(--max-text-font-size));
     }

     .footer_links {
         margin-bottom: 15rem;
         margin-top: var(--margin_xlarge);
     }

     .footer_links ul {
         flex-direction: row;
         justify-content: space-between;
         gap: var(--gap_large);
     }

     .footer_links ul li {
         width: 100%;
     }

 }
