@font-face {
    font-family: 'Geist';
    src: url('assets/fonts/Geist/webfonts/Geist-light.woff2') format('woff2');
    font-weight: 200;
}

@font-face {
    font-family: 'Geist';
    src: url('assets/fonts/Geist/webfonts/Geist-Regular.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'Geist';
    src: url('assets/fonts/Geist/webfonts/Geist-Black.woff2') format('woff2');
    font-weight: 900;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Geist', sans-serif;
    background: #fff4e1;
    color: #521716;
}

main {
    margin-inline: auto;
    padding-inline: 1em;
    max-width: 1200px;
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
}

.hero_container {
    display: flex;
    justify-content: center;
}

.media-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding: 2em;
}

.media img {
    width: 100%;
    height: auto; 
    display: block;
}

h1 {
    font-size: 8em;
    font-weight: 900;
    margin: 1em 0;
    text-align: center;
}

p {
    font-size: 1.5em;
    text-align: justify;
    padding: 1.5em;
}

footer {
    padding: 2em;
}

footer a {
    margin: 1em;
    font-size: 1.2em;
}

.contact {
width: 50em;
margin: 0 auto;
}

/* Media Queries */


@media screen and (max-width: 768px) {

    .hero_container {
        flex-direction: column;
    }

    .hero_container p{
        width: 100%;
    }

    .contact {
        width: auto;
        padding-inline: 1em;
        margin-inline: auto;
    }

    .media-container {
        /* flex-direction: column; */
        padding: 1em;
        height: auto;
    }

    h1 {
        font-size: 4em;
    }

    p {
        font-size: 1em;
    }
    
}
